form {
	display: inline;
}

body {
	font: 16px/24px "Arial", sans-serif;
	background: lightblue;

	/*background: #FFFFE6;*/
}



/* Header */
nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	background: steelblue;
	border-bottom: 3px solid white;
	/*background: #FFE066;*/
	/*border-bottom: 3px solid #FFCC00;*/
}

header > h1 {
	display: inline-block;
	position: fixed;
	top: 10px;
	right: 10px;
	font-size: 1em;
	margin: 0;
	padding: 0;
	color: #000;
	font-weight: normal;
}


.associaties {
	width: 800px;
	border: 1px solid steelblue;
	border-radius: 15px;
    background: white;
	/*box-shadow:  0px  0px  15px  1px  #666;*/
	
}

.analogie {
	width:800px;
	border: 1px solid steelblue;
	border-radius: 15px;
    background: white;
	/*box-shadow:  0px  0px  15px  1px  #666;*/
	
}


/* knoppen */

input[type=checkbox] {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
}


input[type=submit][class=start] {
	background-color: lightblue;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 5px;
	color: #000;
	font: "Arial", sans-serif;
	padding: 5px 5px;
	font-size: 16px;
	text-decoration: none;
	cursor: pointer;
	border: none;
}


input[type=submit]:hover {
	border: none;
	background-color: steelblue;
}
